.rightCon{
    width: 96%;
    height: 1044px;
    margin: 2%;
    border:1px solid #047afe;
    position: relative;
}
.zuos,.zuox,.yous,.youx{
    width: 300px;
    height: 109px;
    position: absolute;
    z-index:0;
}
.zuos{
    background: url("../images/bg_attackBackzuos.png") no-repeat center;
    top: -8px;
    left: -8px;
}
.zuox{
    background: url("../images/bg_attackBackzuox.png") no-repeat center;
    bottom: -8px;
    left: -8px;
}
.yous{
    background: url("../images/bg_attackBackyous.png") no-repeat center;
    top: -8px;
    right: -8px;
}
.youx{
    background: url("../images/bg_attackBackyoux.png") no-repeat center;
    bottom: -8px;
    right: -8px;
}
.attackDetailsTitle{
    padding: 0 4%;
    color: white;
    position: absolute;
    top:-14px;
    left: 50%;
    margin-left: -10%;
    background: rgba(9,19,43,0.7);
    filter: alpha(opacity=70);
    font-size: 22px;
}
.attackDetailsTitle .leftBor,.attackDetailsTitle .rightBor{
    width: 8px;
    height: 24px;
    border: 1px solid #047afe;
    position: absolute;
}
.attackDetailsTitle .leftBor{
    left:0;
    top: 0;
}
.attackDetailsTitle .rightBor{
    right: 0;
    top: 0;
}
.attackPointInfor{
    width: 20.4%;
    height: 46px;
    background: url("../images/border_title-.png") no-repeat center;
    font-size: 18px;
    font-weight: 700;
    color: #22c9fb;
    line-height:38px;
    text-align: center;
    margin-left: 2%;
    position: relative;
}
.line{
    width: 87px;height: 28px;
    background: url('../images/bg_attackTitle.png') no-repeat center;
    position: absolute;
    top:-6px;
    left: -10%;
}
.pianyiWrap{
    margin:13px 0 20px 0;
    width: 46%;
}
.pianyiWrap p{
    float: left;
    color: #22c9fb;
    margin: 0 10px 0 0;
}
.fanwei{
    position: relative;
    width: 60px;
    margin-right:30px;
    color: #22c9fb;
}
.fanwei input{
    outline: none;
    background: transparent;
    border:1px solid #075c83;
    padding: 3px 9px;
    color: #07a0da;
    background: #06244b;
    width: 77%;

}
.carets,.caretx{
    position: absolute;
    right: 1%;
}
.carets{
    top: 58.5%;
}
.caretx{
    top:27%;
}
.pianyiWrap>select{
    width: 27%;
    height: 23px;
    border:1px solid #075c83;
    background: #06244b;
    color: #22c9fb;
    margin-right: 2%;

}
.pianyiWrap>select>option {
    color: #22c9fb;
}
.search{
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    background: #b0d311;
    color: #012859;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
    font-weight: 600;
}
.attackPointInforList{
    width: 97%;
    border-right: 1px solid #3188cf;
    margin: 1.5%;
}
.attackPointInforList>tbody>tr>td:first-child{
    border-left: 1px solid #3188cf;
}
.attackPointInforList>tbody>tr{
    border-bottom: 1px solid #1f6fbb;
}
.attackPointInforList>tbody>tr>th,.attackPointInforList>tbody>tr>td{
    color: white;
}
.attackPointInforList>tbody>.tableTh{
    width: 100%;
    height: 43px;
    background: url("../images/bg_attackBack.png");
}
.attackPointInforList>tbody>tr>td:nth-child(1),.attackPointInforList>tbody>tr>td:nth-child(3)
,.attackPointInforList>tbody>tr>td:nth-child(5),.attackPointInforList>tbody>tr>td:nth-child(7)
,.attackPointInforList>tbody>tr>td:nth-child(9){
    background: #012859;
}
.attackPointInforList>tbody>tr>td:nth-child(2),.attackPointInforList>tbody>tr>td:nth-child(4)
,.attackPointInforList>tbody>tr>td:nth-child(6),.attackPointInforList>tbody>tr>td:nth-child(8)
{
    background: #014293;
    color: #ff8463;
}
.trace{
    width: 112px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    background: #b0d311;
    color: #012859;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
    font-weight: 600;
}
.export{
    margin: 31px 0 0 58px;
}
.export>p{
    width: 22px;
    height: 22px;
    background: url("../images/icon_export.png");
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.export>span{
    color:#22c9fb ;
    font-size: 18px;
    vertical-align: middle;
}
.page{
    color:#22c9fb ;
    margin:40px 58px 0 0;
}
.page>ul{
    margin-right: 30px;
}
.page>ul li,.page >span{float: left;}
.page>ul li a{
    color:#22c9fb ;
    padding: 0 10px;
    border:1px solid #22c9fb;
    border-right: none;
    display: inline-block;
    height: 22px;
    line-height: 23px;
    float: left;
}
.page>ul li a>img{
    margin-top: 5px;
    border: none;
}










