.rightCon{
    width: 96%;
    height: 1094px;
    margin: 2%;
    border:1px solid #047afe;
    position: relative;
}
.zuos,.zuox,.yous,.youx{
    width: 300px;
    height: 109px;
    position: absolute;
    z-index:0;
}
.zuos{
    background: url("../images/bg_attackBackzuos.png") no-repeat center;
    top: -8px;
    left: -8px;
}
.zuox{
    background: url("../images/bg_attackBackzuox.png") no-repeat center;
    bottom: -8px;
    left: -8px;
}
.yous{
    background: url("../images/bg_attackBackyous.png") no-repeat center;
    top: -8px;
    right: -8px;
}
.youx{
    background: url("../images/bg_attackBackyoux.png") no-repeat center;
    bottom: -8px;
    right: -8px;
}
.emaiDetailsTitle{
    padding: 0 4%;
    color: white;
    position: absolute;
    top:-14px;
    left: 50%;
    margin-left: -10%;
    background: rgba(9,19,43,0.7);
    filter: alpha(opacity=70);
    font-size: 22px;
}
.emaiDetailsTitle .leftBor,.emaiDetailsTitle .rightBor{
    width: 8px;
    height: 24px;
    border: 1px solid #047afe;
    position: absolute;
}
.emaiDetailsTitle .leftBor{
    left:0;
    top: 0;
}
.emaiDetailsTitle .rightBor{
    right: 0;
    top: 0;
}
.emailTable,.content{
    width: 95%;
    margin: 2% 2.5%;
    border: 1px solid #2f94e0;
}
.emailTable>tbody>tr td:nth-child(1){
    color: #22c9fb;
    width: 20%;
    font-size: 17px;
}
.emailTable>tbody>tr td{padding: 7px}
.emailTable>tbody>tr td:nth-child(2){
    color: #fff;
    border-left: 1px solid #2f94e0;
    text-align: left;
    padding-left: 35px;
}
.emailTable>tbody>tr:nth-child(odd){
    background: #022b5d;
}
.emailTable>tbody>tr:nth-child(even){
    background: #014292;
}
.traceNew{
    color: #22c9fb;
    margin-left: 5%;
    cursor: pointer;
}
.content>div>p{
    padding: 0 0 0 3%;
    line-height: 35px;
    background: #014493;
    color: white;
}
.contentTable{
    width: 100%;
    max-width: 100%;
    margin: 0.8% 1.5% 1.5% 0;
}
.contentTable>tbody>tr td:nth-child(1){
    width: 16%;
    color: #afd311;
    padding: 6px 0 6px 1%;
}
.contentTable>tbody>tr td:nth-child(2){
    color: #afd311;
    padding: 6px 0 6px 1%;
}
.attachment{margin-left: 3%}
.attachment>ul li{
    margin-top: 1%;
}
.attachment>ul li span:nth-child(1){
    color:#fff;
    margin: 0 1.5% 0 0;
}
.attachment>ul li span:nth-child(2) a{
    color: #22c9fb;
}







